[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "naturaList"]
	path = naturaList
	url = https://github.com/avrodrigues/naturalist
